* {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}

/* ******************************************* */
/* Header and Navigation */
/* ******************************************* */

header {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    /* justify-content: space-around; */

}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-box {
    width: 75%;
    margin: 20px auto;
    display: flex;
    margin-bottom: 120px;
    justify-content: space-around;

}

/* ******************************************* */
/* **********HEADER LEFT SIDE***************** */
/* ******************************************* */

.header-left {
    display: flex;
    flex-direction: column;
    width: 50%;


}

.logo-img {
    width: 30px;
    height: 30px;

}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo p {
    margin-left: 10px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

/* ******************************************* */
/* **********HEADER LEFT SIDE***************** */
/* ******************************************* */

.header-link {
    display: flex;
    text-decoration: none;
    width: 50%;
    justify-content: space-around;
}

.header-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}



.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    height: 250px;
}

.header-text p {
    color: #e5e7eb;
    font-size: 18px;
    width: 80%;

}

button {
    background-color: #2273f7;
    color: #f9faf8;
    font-size: 18px;
    width: 125px;
    font-weight: bold;
    padding: 10px 0;
    border: 0;
    border-radius: 10px;
}

.header-img {
    margin-top: 100px;
    background-color: #e5e7eb;
    text-align: center;
    height: 250px;
    width: 525px;

}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


}

/* ******************************************* */
/* **********MAIN***************** */
/* ******************************************* */

main {
    background-color: #f9faf8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 50px;
}

.big-box {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-img {
    border: 5px #2273f7 solid;
    border-radius: 10px;
    height: 160px;
    width: 160px;
}

main p {
    margin: 10px;
    color: #414141;
    width: 160px;
}

/* ******************************************* */
/* **********QUOTE***************** */
/* ******************************************* */
article {
    background-color: #e5e7eb;
}

.quote {
    margin: 100px auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #2a374b;
    font-weight: lighter;
}

.quote-sign {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
    color: #2a374b;
}

/* ******************************************* */
/* **********SIGN UP BAR**************** */
/* ******************************************* */
.signup {
    display: flex;
    margin: 100px auto;
    background-color: #2273f7;
    border-radius: 10px;
    padding: 50px 100px;
    width: 75%;
    box-sizing: border-box;
    justify-content: space-around;

}

.signup-text {
    color: #e5e7eb;
    font-size: 24px;
}

h3 {
    font-size: 32px;
}

.b2 {
    background-color: #2273f7;
    color: #f9faf8;
    font-size: 18px;
    width: 125px;
    height: 50px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
}

/* ******************************************* */
/* *********************FOOTER**************** */
/* ******************************************* */
footer {
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
    font-size: 18px;
    padding: 40px;
}